/* PALETTE ONLY */
:root {
  --blueberry:  #4D2308;
  --strawberry: #814414;
  --buttercream:#F3CEA2;
  --violet:     #F1B93D;
  --meringe:    #F3CEA2;
  --text-dark:  #4D2308;
}

/* CLEAN RESET */
* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}


